/* Global */
.header {
    font-family: 'Roboto', sans-serif;
}

form {
    margin: 0.75rem 0;
}

/* Base */

.sidenav{
    background: #ee6e73;
}

.sidenav li {
    padding-top: 20px;
}

.sidenav li a {
    font-size: 20px;
    color: #ffffff
}

.sidenav li:first-child {
    margin-top: 80px;
}

.nav-wrapper {
    width: 90%;
    margin: 0 auto;
}

/* Recipes Page */

.card {
    margin: 1rem;
    height: 425px;
}

.card-image img {
    padding: 0.5rem 0;
    height: 250px;
    width: 100%;
    object-fit: contain;
}

.card .card-title {
    margin: -5px 0;
    font-size: 24px;
    font-weight: 400;
}

.card-styles h5 {
    font-size: 20px;
}

.card-styles p {
    font-family: 'Lato', sans-serif;
    width: 80%;
}

.card i {
    color: #ee6e73;
    padding-right: 15px;
}

.card-styles a {
    font-size: 16px;
    color: black;
    font-family: 'Lato', sans-serif;
    color: #7a7a7a;
}

.card-styles a:hover {
    cursor: pointer;
    color: #ee6e73;
}

/* Recipe Page */

.recipe-container {
    margin: 0.5rem 0;
}

.recipe-container img {
    margin: 0.5rem 0;
}

.recipe-container p {
    width: 90%;
    font-family: 'Lato', sans-serif;
}

.text-container {
    padding: 0 0.75rem;
}

/* Management */

.collapsible-header .btn {
    width: 80px;
    margin: 5px 5px;
    font-size: 12px;
    padding: 0 0px;
    font-weight: 500;
}

.task_header {
    margin: auto 0;
}

.add-button {
    float: right;
    margin: 15px 30px 0 0;
}

/* Medium and above */

@media (min-width: 768px) {
/* Global */

form {
    margin: 0.75rem 0;
}

/* Recipe Page */
.card-styles p {
    width: 100%;
    line-height: 105%;
}

/* Recipes Page */
.card {
    height: 425px;
}

.card-image img {
    padding: 0.5rem 0;
    height: 250px;
    width: 100%;
    object-fit: contain;
}

.card .card-title {
    margin: 20px 0;
}

.card i {
    padding-right: 10px;
}

}