<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<div class="row">
    <form action="{{url_for('insert_recipe')}}" method="POST" class="col s12">
        <div class="input-field col s12">
            <i class="material-icons prefix">local_dining</i>
            <input  id="recipe_name" name="recipe_name" type="text">
            <label for="recipe_name">Recipe name</label>
        </div>

        <div class="input-field col s12">
            <i class="material-icons prefix">local_library</i>
            <textarea id="recipe_intro" name="recipe_intro" class="materialize-textarea"></textarea>
            <label for="recipe_intro">Instructions*</label>
        </div>

        <div class="input-field col s12">
            <i class="material-icons prefix">local_grocery_store</i>
            <textarea id="ingredients" name="ingredients" class="materialize-textarea"></textarea>
            <label for="ingredients">Ingredients*</label>
        </div>

        <div class="input-field col s12">
            <i class="material-icons prefix">build</i>
            <textarea id="instructions"  name="instructions" class="materialize-textarea"></textarea>
            <label for="instructions">Instructions*</label>
        </div>

        <span><strong>*</strong> To break these into lists for viewing, add a full-stop where you wish for the introduction of a new list item. </span>

        <div class="input-field col s12">
            <i class="material-icons prefix">add_a_photo</i>
            <input id="recipe_image" name="recipe_image" type="url">
            <label for="recipe_image">Image URL</label>
        </div>

        <div class="input-field col s12">
            <i class="material-icons prefix">poll</i>
            <select id="category" name="category_name">
                <option value="" disabled selected>Choose the category</option>
                {% for category in categories %}
                <option name="category_name" value="{category.category_name}}">{{category.category_name.capitalize()}}</option>
                {% endfor %}
            </select>
            <label>Meal Category</label>
        </div>
        <button class="btn waves-effect waves-light" type="submit">Submit
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>
{% endblock %}