<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col s12 recipe-container">
        <img class="col s12" src="{{recipe.recipe_image}}" alt="recipe image">
        <div class="text-container">
            <h4 class="header">{{recipe.recipe_name.title()}}</h4>
            <h5 class="header">Perfect for {{recipe.category_name.title()}}</h5>
            <p class="intro">{{recipe.recipe_intro}}</p>
            <h5 class="header">Ingredients:</h5>
            <p class="ingredients"></p>
            <h5 class="header">Instructions:</h5>
            <p class="instructions"></p>
        </div>
    </div>
</div>

<a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}">
    <button class="btn waves-effect waves-light" >Edit this recipe
        <i class="material-icons right">send</i>
    </button>
</a>


<script type="text/javascript">
    let ingredientsTotal = "{{recipe.ingredients}}";
    let instructionsTotal = "{{recipe.instructions}}";
</script>
{% endblock %}