<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col s12">
            <p class="intro">Welcome to Recipe Share, an application for uploading and reviewing recipes. Have a look at the recipes listed below or if you'd like to contribute, head to <a href="{{url_for('manage_recipes')}}">manage recipes</a> and <a href="{{url_for('manage_categories')}}">manage categories</a> to get started!</p>
            <p class="intro">Starter recipes taken from <a href="https://www.runnerbeans.co/" target="_blank">Runnerbeans</a>, check them out for inspiration!</p>
        </div>
    </div>
    <div class="row">
    {% if recipes.count() != 0: %}
        {% for recipe in recipes %}
                <div class="col s12 m6 xl4">
                    <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{{recipe.recipe_image}}" alt="image of recipe">
                    </div>
                    <div class="card-content card-styles">
                        <h1 class="card-title activator grey-text text-darken-4 header">{{recipe.recipe_name.title()}}<i
                                class=" small material-icons right">expand_more</i></h1>
                        <a href="{{url_for('get_recipe', recipe_id=recipe._id)}}">Check out this recipe!</a>
                    </div>
                    <div class="card-reveal card-styles">
                        <h1 class="card-title grey-text text-darken-4 header">{{recipe.recipe_name.title()}}<i class="material-icons right">close</i></h1>
                            <h5>Category: {{recipe.category_name.title()}}</h5>
                            <p>{{recipe.recipe_intro}}</p>
                        <a href="{{url_for('get_recipe', recipe_id=recipe._id)}}">Check out this recipe!</a>
                    </div>
                    </div>
                </div>
        {% endfor %}
    {% else: %}
        <div class="col s12 m6 xl4">
            <div class="card">
                <div class="card-image">
                    <img src="//static1.squarespace.com/static/5a22b62464b05f4690795402/t/5a22fa0bec212d3898b007ee/1534604995038/?format=1500w" style="background-color: #ee6e73;">
                    <span class="card-title"></span>
                </div>
                <div class="card-content">
                    <p>No recipes added yet, head over to <a href="{{url_for('manage_recipes')}}">manage recipes</a> to get started. Make sure you have a category ready, you can take care of that <a href="{{url_for('manage_categories')}}">here</a></p>
                </div>
            </div>
        </div>
    {% endif %}
    </div>
{% endblock %}