<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
    <div class="row">
    {% for recipe in recipes %}
        <div class="card-container">
        <div class="card col s12 m6 l3">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{recipe.recipe_image}}" alt="image of recipe">
            </div>
            <div class="card-content card-styles">
                <h1 class="card-title activator grey-text text-darken-4 header">{{recipe.recipe_name.title()}}<i
                        class=" small material-icons right">expand_more</i></h1>
                <a href="{{url_for('get_recipe', recipe_id=recipe._id)}}">Check out this recipe!</a>
            </div>
            <div class="card-reveal card-styles">
                <h1 class="card-title grey-text text-darken-4 header">{{recipe.recipe_name.title()}}<i class="material-icons right">close</i></h1>
                    <h5>Category: {{recipe.category_name.title()}}</h5>
                    <p>{{recipe.recipe_intro}}</p>
                <a href="{{url_for('get_recipe', recipe_id=recipe._id)}}">Check out this recipe!</a>
            </div>
        </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}